@import '../../styles/scss/setup/_vars.scss';

$PREVIEW_WIDTH: 184px;
$ITEM_GAP: 10px;
$ITEMS_COUNT: 5;

@import './styles/header';
@import './styles/writer-preview';
@import './styles/posts-list';

.writers-carousel {
    padding: 1rem;
    margin-top: 10rem;
    direction: rtl;
    margin-inline: auto;
    max-width: (($PREVIEW_WIDTH + $ITEM_GAP) * $ITEMS_COUNT) + ($ITEM_GAP * 2);
}

.error {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    max-width: max-content;
    margin-inline: auto;
    border: 1px solid $lightgray-200;
    svg {
        opacity: 0.75;
        color: $primary;
    }
}
