@import '../../styles/scss/setup/_vars.scss';

$PREVIEW_WIDTH: 184px;
$ITEM_GAP: 10px;

.carousel {
    position: relative;
    .navigation {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        opacity: 0;
        transition: 0.2s all;
        padding: 1rem;
        z-index: 2;
        pointer-events: none;
        > button {
            pointer-events: all;
            width: 2rem;
            height: 2rem;
            justify-content: center;
            border-radius: 55px;
            font-size: 0.85rem;
            transform: scale(1);
            transition: 0.1s all;
            &:hover {
                transform: scale(1.045);
            }
        }
    }
    &:hover .navigation {
        opacity: 1;
    }
}
.slider {
    overflow: hidden;
    > div {
        margin-inline: -10px;
    }
}

.slider-item {
    margin-inline-start: 10px;
    max-width: 166px;
    @media (min-width: 760px) {
        max-width: $PREVIEW_WIDTH;
    }
}
