.writers-list {
    display: flex;
    transition: linear 0.2s;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 0 $ITEM_GAP;
    > li {
        scroll-snap-align: start;
        max-width: $PREVIEW_WIDTH;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
