.writer-preview {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: transparent linear-gradient(180deg, #1f1f1f33 0%, #1f1f1f00 0%, #000000 100%) 0% 0% no-repeat
            padding-box;
        opacity: 0.7;
        z-index: 0;
    }
    img {
        z-index: 1;
    }
    h2 {
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
        z-index: 2;
        color: $white;
        background-color: rgba($black, 0.35);
        padding: 5px 15px;
        border-radius: 2px;
    }
}
.writer-img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
