@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Setup */
@import './scss/setup/_vars.scss';
@import './scss/setup/_typography.scss';

/* Base */
@import './scss/base/_reset.scss';
@import './scss/base/_base.scss';
@import './scss/base/_helpers.scss';
@import './scss/base/_buttons.scss';
