@font-face {
    font-family: 'Simpler-regular';
    src: url('../../../fonts/SimplerPro/SimplerPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Simpler-light';
    src: url('../../../fonts/SimplerPro/SimplerPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Simpler-bold';
    src: url('../../../fonts/SimplerPro/SimplerPro-Bold.ttf') format('truetype');
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-font-ratio;
    color: $base-text-color;
    letter-spacing: -0.24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Simpler-bold';
    font-weight: 400;
}
h1 {
    font-size: 26px;
}
