// COLOR PALETTE
$white: #fff;
$lightgray-100: #f8f8f8;
$lightgray-200: #f2f2f2;
$lightgray-300: #1f1f1f33;
$darkgray-100: #2c2c2c;
$darkgray-200: #101619;
$black: #000000;
$primary: #ed1c24;
$primary-highlighted: lighten($primary, 5%);

$text-muted: #717171;

// FONT
$base-font-family: 'Simpler-regular', Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$base-font-ratio: 1;
$base-text-color: rgb(34, 34, 34);

// FONT VARS
$font-family-bold: 'Simpler-bold', Arial, Helvetica, sans-serif;
